 body{
   background-color: #ffc0cd;
 }
 img{
    width:100%;
 }
 .shop{
   background-color: #f85f7e;
   width: 100%;
 }
 .cakes{
    background-color: #88fc04;
    width:50%;
 }
.wrap{
    background-color: #037386;
    display:flex;
    flex-wrap:wrap;
}
footer {
  background: #e69421;
  color: #fff;
  text-align: center;
  padding: 10px;
  font-size: 0.9em;
}

