.nav-green {
  background-color: #375230;
}

.nav-green .nav-link,
.nav-green .navbar-brand {
  color: #fff;
}

.nav-green .nav-link:hover,
.nav-green .dropdown-item:hover {
  background-color: #c3dda8;
  color: #375230;
}

.nav-green .dropdown-menu {
  background-color: #375230;
}

.nav-green .dropdown-item {
  color: #fff;
}

html,body{
  background-color:#c3dda8;
  margin: 0;
  height:100%
}

.left-area {
  background-color: #e6c9a8;
  min-height: 100vh;
}

.right-area {
  background-color: #e0e0e0;
  min-height: 100vh;
}

section {
  background-color: #e6c9a8;
  margin: 0;
  padding: 0;
}

footer {
  background: #db9c44;
  color: #fff;
  text-align: center;
  gap: 10px;
  padding: 10px;
  font-size: 0.9em;
}

