* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  background-color: #c3dda8; 
}

.container {
  display: flex;
  min-height: 100vh;
  width: 100%;
}

.inner {
  max-width: 900px;
  width: 100%;
}

/* スマホ（縦並びに切り替え） */
@media (max-width: 800px) {
  .container {
    flex-direction: column;
  }

}
