* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  background-color: #c3dda8;
}

.container {
  display: flex;
  min-height: 100vh;
  width: 100%;
}

.left {
  flex: 1 1 50%;
  background-color: #5beb33;
  display: flex;
  padding: 40px;
}

.right {
  flex: 1 1 50%;
  background-color: #8e8edf;
  display: flex;
  padding: 40px;
}

.inner {
  max-width: 900px;
  width: 100%;
}

.left h1, .right h2 {
  color: #3a3a3a;
  margin-bottom: 12px;
}
.left p, .right p {
  color: #333;
  line-height: 1.6;
}

/* スマホ */
@media (max-width: 800px) {
  .container {
    flex-direction: column;
  }
  .left, .right {
    width: 100%;
    padding: 24px;
  }
}
